<div class="row full-page">
  <div class="col-lg-3 col-md-4 col-s-5 col-xs-6 login-side">
    <img
      src=""
      src="./assets/plugins/images/logo_complementa.svg"
      class="small-image"
      alt="Login Image"
    />
    <form>
      <mat-form-field class="login-field">
        <mat-label>Email</mat-label>
        <input type="email" matInput>
      </mat-form-field>
      <mat-form-field class="login-field">
        <mat-label>Senha</mat-label>
        <input type="password" matInput>
        <mat-hint align="end" class="forgot-password"> Esqueceu sua senha?</mat-hint>
      </mat-form-field>   
      <button mat-button type="submit" class="btn btn-primary" id="submit-button">
        Fazer login
      </button>
    </form>
    <div class="no-account">
      <p>Não tem conta?</p>
      <button mat-button class="btn btn-success" id="dialog-button" (click)="openDialog()">Cadastre-se</button>

    </div>
  </div>
  <div class="col-lg-9 col-md-8 col-s-7 col-xs-6 d-none d-md-block right-column">
    <div class="large-logo">
      <img src="./assets/plugins/images/logo_complementa.svg" />
    </div>
    <div class="row right-column-row">
      <div class="col-md-6 flex-fill">
        <div class="card login-card bg-green">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 flex-fill">
        <div class="card login-card bg-purple">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row right-column-row">
      <div class="col-md-6 flex-fill">
        <div class="card login-card">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 flex-fill">
        <div class="card login-card">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-autocadastro mat-dialog role="dialog" [ngStyle]="{ display: display}"></app-autocadastro>
