<div class="row full-page">
  <div class="col-md-3 login-side">
    <form class="login-form">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="Digite o seu email"
      />

      <label for="password" class="form-label" id="password">Senha</label>
      <input
        type="password"
        class="form-control"
        id="password-field"
        placeholder="Digite a sua senha"
      />
      <p class="forgot-password">Esqueceu sua senha?</p>

      <button type="submit" class="btn btn-primary" id="submit-button">
        Fazer login
      </button>
    </form>
    <div class="no-account">
      <p>Não tem conta?</p>
      <button class="btn btn-secondary" id="register">Cadastre-se</button>
  </div>
  </div>
  <div class="col-md-9 d-none d-md-block right-column">
    <div class="large-logo">
      <img src="./assets/plugins/images/logo_complementa.svg">
    </div>
    <div class="row">
      <div class="col-md-6 flex-fill">
        <div class="card login-card">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
        </div>
        </div>
      </div>
      <div class="col-md-6 flex-fill">
        <div class="card login-card">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 flex-fill">
        <div class="card login-card">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
        </div>
        </div>
      </div>
      <div class="col-md-6 flex-fill">
        <div class="card login-card">
          <div class="card-data">
            <h2>136</h2>
            <h3>Cursos na UFPR</h3>
        </div>
      </div>
    </div>

  </div>
</div>
