<app-header></app-header>
<router-outlet></router-outlet>
<!--
  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <header class="topbar" data-navbarbg="skin5">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin6">
          <a class="navbar-brand" href="#">
            <span class="logo-text">
              <img src="assets/plugins/images/logo_complementa.svg" alt="homepage" width="179" height="54" />
            </span>
          </a>

          <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none" href="javascript:void(0)"><i
              class="ti-menu ti-close"></i></a>
        </div>

        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
          <ul class="navbar-nav ms-auto d-flex align-items-center"></ul>
        </div>
      </nav>
    </header>

  </div>

  <div *ngIf="usuarioLogado; else barlessDiv" id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
    data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <aside *ngIf="usuarioLogado" class="left-sidebar" data-sidebarbg="skin6">

      <div class="scroll-sidebar">

        <nav class="sidebar-nav">
          <ul id="sidebarnav" [ngSwitch]="usuarioLogado.papel">
            <div *ngSwitchCase="'admin'">
              <li class="sidebar-item pt-2">
                <a [routerLink]="['/admin']" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                  aria-expanded="false">
                  <i class="far fa-user" aria-hidden="true"></i>
                  <span class="hide-menu">Administrador</span>
                </a>
              </li>
              <li class="sidebar-item pt-2">
                <a [routerLink]="['/admin/home']" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                  aria-expanded="false">
                  <i class="far fa-clock" aria-hidden="true"></i>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
            </div>
            <div *ngSwitchDefault>
              <li class="sidebar-item pt-2">
                <a [routerLink]="['/aluno']" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                  aria-expanded="false">
                  <i class="far fa-clock" aria-hidden="true"></i>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a [routerLink]="['/aluno/editar', usuarioLogado.id]"
                  class="sidebar-link waves-effect waves-dark sidebar-link" href="/aluno" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="hide-menu">Editar Perfil</span>
                </a>
              </li>
            </div>
            <li class="sidebar-item">
              <a (click)="logout($event)" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                aria-expanded="false">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="hide-menu">LogOut</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </aside>
    <router-outlet></router-outlet>
  </div>
  <ng-template #barlessDiv>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
      data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
      <aside class="left-sidebar" data-sidebarbg="skin6">

        <div class="scroll-sidebar">

          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="sidebar-item pt-2">
                <a [routerLink]="['/login']" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                  aria-expanded="false">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  <span class="hide-menu">Login</span>
                </a>
              <li class="sidebar-item pt-2">
                <a [routerLink]="['/autocadastro']" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                  aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="hide-menu">Autocadastro</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <router-outlet></router-outlet>
    </div>
  </ng-template>
-->