<!-- Main wrapper - style you can find in pages.scss -->

<!-- End Page wrapper -->

<div *ngIf="usuarioLogado; else barlessDiv" class="container-fluid h-100">
  <div class="row h-100">
    <aside *ngIf="usuarioLogado" class="col-md-2 p-0 left-sidebar bg-skin6 h-100">
      <div class="scroll-sidebar h-100">
          <app-navbar></app-navbar>
      </div>
    </aside>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #barlessDiv>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-2 left-sidebar bg-skin6">
        <div class="scroll-sidebar">
          <!-- Sidebar navigation -->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="sidebar-item pt-2">
                <a [routerLink]="['/login']" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                  aria-expanded="false">
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  <span class="hide-menu">Login</span>
                </a>
              </li>
              <li class="sidebar-item pt-2">
                <a [routerLink]="['/autocadastro']" class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                  aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="hide-menu">Autocadastro</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
</ng-template>
<div class="col-md-12">
  <app-footer></app-footer>
</div>