<div class="container">
    <div class="row">
        <app-rect-card [title]="'blabla'" [subtitle]="'blabla'" [date]="'blabla'" [author]="'blabla'"
            [executor]="'blabla'"></app-rect-card>
        <div class="col-md-4">
            <div>
                <app-square-card [imageUrl]="aprendaUsarImg" [title]="'blabla'"
                    [description]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"></app-square-card>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card"> <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> <a routerLink="/link2" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"> <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> <a routerLink="/link3" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"> <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> <a routerLink="/link4" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"> <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> <a routerLink="/link5" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
