<div class="container">
  <div class="row">
      <div class="rectangle">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <div class="row">
              <div class="col-6">
                <h4>TÍTULO <span class="subtitle">subtitulo</span></h4>
              </div>
              <div class="col-6 text-right">
                
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <p>Atividade_criada_em</p>
                <p>dd/mm/aaaa</p>
              </div>
              <div class="col-3">
                <p>Solicitante</p>
                <p>autor</p>
              </div>
              <div class="col-3">
                <p>Executor</p>
                <p>quem-executa</p>
              </div>
              <div class="col-3">
                <button class="btn btn-info btn-sm">Detalhes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
